    
    
    <!-- Start hero Section -->
    <section class="hero-image">
        <div class="hero-text">
            <h1 id="mainHeroText">Isn't she lovely</h1>
            <p id="subHeroText">
                isn't she
            </p>
            <h1 id="peach"><img src="/img/peach-icon.png" alt="Peach">NE</h1>
            <h1 id="subHeroText2">derful</h1>
            {{!-- <a href="#entourage-section" class="btn btn-default btn-lg" id="moreDetailsBtn">More Details</a>
            <a class="btn btn-default btn-lg" id="rsvpBtn" href="#rsvp-section">RSVP</a> --}}
        </div>
    </section>
    <!-- End Hero Section -->

    <section class="banner">
        <div class="celeb-banner"><h1>It's a Triple Celebration!</h1></div>

        <div class="triple-celeb-container">
            <div class="triple-celeb">
                <div class="dedication">
                    <div>
                        <img src="/img/dedication.png" alt="Dedication">
                    </div>
                    <p>Dedication</p>
                </div>
                <div class="turning-one">
                    <div>
                        <img src="/img/turning-one.png" alt="Dedication">
                    </div>
                    <p>is Turning One</p>
                </div>
                <div class="thirty-one">
                    <div>
                        <img src="/img/thirty-one.png" alt="is Turning Thirty-One">
                    </div>
                    <p>is Turning Thirty-One</p>
                </div>
            </div>
        </div>
    </section>

    {{!-- <section class="schedule">

    </section> --}}

    <!-- Start Entourage Section -->
    <section class="wedding-party" id="entourage-section" style="padding-bottom: 20px;">
        {{!-- <h1 class="entourage-title">
            <span class="date-text__inner">The Entourage</span>
        </h1> --}}
        

        <div class="row ms-0 me-0">
            <div class="col-lg-6 col-md-6">
                <div class="row ms-0 me-0">
                    <div class="entourage-title">Ninong</div>
                    <div class="col-xs-12 col-md-12 col-lg-4">
                        <div>
                            <div class="ent-desc">Lawrence Tagulao</div>
                            <div class="ent-desc">Milbert Baste</div>
                            <div class="ent-desc">John Paul Baste</div>
                            <div class="ent-desc">John Edwar Ducusin</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-4">
                        <div>
                            <div class="ent-desc">Kennedy Mateo</div>
                            <div class="ent-desc">Joseph Marinas</div>
                            <div class="ent-desc">Jaye Kenneth Lim</div>
                            <div class="ent-desc">Dexter Gregorio</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-4">
                        <div>
                            <div class="ent-desc">Francis Fangonilo</div>
                            <div class="ent-desc">Kim John Selga</div>
                            <div class="ent-desc">Neil Selga</div>
                            <div class="ent-desc">John Paul Yuzon</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6">
                <div class="row ms-0 me-0">
                    <div class="entourage-title">Ninang</div>
                    <div class="col-xs-12 col-md-12 col-lg-4">
                        <div>
                            <div class="ent-desc">Grace Gadon</div>
                            <div class="ent-desc">Rosemin Pasadilla</div>
                            <div class="ent-desc">Mary Cris Epiritu</div>
                            <div class="ent-desc">Nerissa Baste</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-4">
                        <div>
                            <div class="ent-desc">Donnabel Barra</div>
                            <div class="ent-desc">Maria Veronica Eslao</div>
                            <div class="ent-desc">Melvie San Diego</div>
                            <div class="ent-desc">Arianne Kate Panganiban</div>
                            <div class="ent-desc">Rochelle Abitago</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-4">
                        <div>
                            <div class="ent-desc">Cyndie Mae Lopez</div>
                            <div class="ent-desc">Fredalyn Dulay</div>
                            <div class="ent-desc">Germelyn Niduaza</div>
                            <div class="ent-desc">Irish Faith Gadon</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="entourage-participants mt-5 mb-0">
            <div>
                <div class="ent-desc"><h2 style="font-family: gothambold;">Rev. Lirio C. Agapay</h2></div>
                <div class="ent-title" style="font-size: 1rem;"><strong>Officiating Minister</strong></div>
            </div>
        </div>
    </section>
    <!-- End Entourage Section -->

    <!-- Start Attire Section -->
    <section class="attire" id="attire-section">
        <div class="container col-xxl-8 px-4 py-5" style="padding-top: 2rem!important; padding-bottom: 2rem!important;">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5" style="padding-top: 2rem!important; padding-bottom: 2rem!important;">
              <div class="col-10 col-sm-8 col-lg-6 ms-auto me-auto">
                <img id="attire-img" src="/img/white-outfit+jeans.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="250" loading="lazy">
              </div>
              <div class="col-lg-6 text-center mt-0">
                <h1 class="display-5 fw-bold lh-1 mb-3 entourage-title">Event Attire</h1>
                <p class="lead attire-sub-text">
                    <h4>White Smart Casual</h4>
                    <br>
                    
                    Please <b style="font-family: gothambold !important;">AVOID</b> wearing
                    any other colors, dark colors, and flip-flops.
                </p>
              </div>
            </div>
        </div>
    </section>
    <!-- End Attire Section -->

    <!-- Start Gallery Section -->
    {{!-- <section class="container" id="gallery-section">
        <h1 class="entourage-title" style="margin: 3rem 0 2rem;">
            <span class="date-text__inner">Gallery</span>
        </h1>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img
                    src="/img/gallery/6.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
                />
            
                <img
                    src="/img/gallery/1.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
                />
            </div>
            
            <div class="col-lg-4 mb-4 mb-lg-0">
                <img
                    src="/img/gallery/9.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
                />
            
                <img
                    src="/img/gallery/8.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
                />
            </div>
            
            <div class="col-lg-4 mb-4 mb-lg-0">
                <img
                    src="/img/gallery/14.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
                />
            
                <img
                    src="/img/gallery/13.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
                />
            </div>
        </div>
    </section> --}}
    <!-- End Gallery Section -->

    <!-- Start Location Section -->
    <section class="location" id="location-section" style="background-color: rgba(235,234,232,1);">
        <div class="text-center ps-5 pe-5 pb-5">
            <h1 class="display-5 fw-bold entourage-title">Location</h1>
            <div class="col-lg-8 mx-auto">
            <p class="lead mb-4" style="font-family: gothambook !important;">
                The wedding ceremony and reception will take place at <b style="font-weight: 600;">Corazon Events Place</b>.
                <b style="font-weight: 600; display: block;">
                    Please refer to the map below or click this 
                    <a href="https://goo.gl/maps/orL1pGff3stTap4M6" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">link</a> 
                    for more details on the directions.
                </b>
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center ratio ratio-16x9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3857.7323684208486!2d121.07036587477045!3d14.78409898572428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397af83c5e005fd%3A0x6ec86bee3575569e!2sCorazon%20Events%20Place!5e0!3m2!1sen!2sph!4v1689997912336!5m2!1sen!2sph" style="border: solid 15px white" width="800" height="600" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                {{!-- <iframe style="border: solid 15px white" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d964.3236078826894!2d120.99582987900283!3d14.808724499825301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397ae7ba721f8ff%3A0xd37ec2d6877a1c50!2sEl%20Marfin%20Hotel%20and%20Pavilion!5e0!3m2!1sen!2sph!4v1635605307137!5m2!1sen!2sph" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe> --}}
            </div>
            </div>
        </div>
    </section>
    <!-- End Location Section -->

    <!-- Start RSVP Section -->
    <div style="background-color: rgba(40,47,61,1);" id="rsvp-section">
        <div class="text-center ps-5 pe-5 pb-5">
            <h1 class="display-5 fw-bold entourage-title">RSVP</h1>
            <div class="col-lg-8 mx-auto">
                <p class="lead mb-4 text-white" style="font-family: gothambook !important;">
                    Kindly confirm your attendance on or before  <strong style="font-family: gothambold">28 August 2023</strong>
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center text-start">
                    <form method="POST" id="rsvpForm" action="/send-rsvp" class="p-4 p-md-12 border rounded-3 bg-light" _lpchecked="1" style="font-family: Josefin Sans;">
                        <div class="form-floating">
                            <input class="form-control" name="complete_name" list="datalistOptions" id="attendees-data-list" placeholder="Type to search..." required>
                            <datalist id="datalistOptions">
                                {{#each attendees}}
                                    <option value="{{lastname}}, {{firstname}} {{mi}}.">
                                    {{else}}
                                {{/each}}
                            </datalist>
                            <label for="floatingDataList">Complete Name</label>
                        </div>
                        <label style="margin-top: 1em;" for="exampleFormControlInput1" class="form-label">Confirmation:</label>
                        <div class="form-floating mb-3">
                            <div class="form-check form-check-inline">
                                <input class="hand-pointer form-check-input" type="radio" name="confirmed" id="inlineRadio1" value="yes" checked>
                                <label class="hand-pointer form-check-label" for="inlineRadio1">I confirm! 😍</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="hand-pointer form-check-input" type="radio" name="confirmed" id="inlineRadio2" value="no">
                                <label class="hand-pointer form-check-label" for="inlineRadio2">Sorry I can't come 😥</label>
                            </div>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End RSVP Section -->
    
    <div class="div-divider">
        <div class="div-hr"></div>
    </div>

    <!-- Start Footer Section -->
    <div class="footer" style="letter-spacing: 0.2em; font-weight: 300; font-size: 0.9em; background-color: rgba(40,47,61,1);">
        <footer class="py-2">
            <p class="text-center text-muted" style="margin-top: 16px;">© 2021 • All Rights Reserved • Website developed by: Eric Marvin Baste</p>
        </footer>
    </div>
    <!-- End Footer Section -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <script>
        let companions = [];
        // Get selected guest
        

        $( '#rsvpForm' ).on( 'submit', function(e) {
            e.preventDefault(); 

            var body = $(this).serializeArray();

            var data = {};
            $(body).each(function(index, obj){
                data[obj.name] = obj.value;
            });

            console.log(JSON.stringify(data))
            let swalTitle = (data.confirmed === "yes") ? 'Yey!' : 'Awwww!';
            let swalText = (data.confirmed === "yes")
                ? "This is happiness for us, see you on our wedding day ?"
                    : "This is so sad. But it's okay, you may also celebrate with us virtually if ever 😊";
            let swalConfirm = (data.confirmed === "yes") ? 'Yes, see you!' : 'Sorry, will celebrate with you from afar!';
            let icon = (data.confirmed === "yes") ? 'happy-emoticon.gif' : 'sad-emoticon.gif';

            let complete_name = $('#attendees-data-list').val();
            companions = [];
            if (data.confirmed === "yes") {
                $.ajax({
                    type: "GET",
                    url: `/attendee/has/companion?complete_name=${complete_name}`,
                    success: function(res) {
                        console.log(res)
                        if (res.message === true) {
                            let companion_count = res.data.companion;
                            let inputs_companion = "";
                            for (let i = 0; i < companion_count; i++) {
                                inputs_companion += `
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="inputs_companion${i+1}" placeholder="Enter name of companion: ">
                                        <label for="inputs_companion${i+1}">Enter name of companion: #${i+1}</label>
                                    </div>
                                `
                            }
                            const { value: formValues } = Swal.fire({
                                title: `Yey! We have also reserved additional ${companion_count} seat(s) for you!`,
                                text: `As much as we want to cater everyone on our wedding day, we regret that we are limitting the number of guests due to the current PANDEMIC, and most especially because of budget constraints`,
                                html: inputs_companion,
                                showCancelButton: true,
                                reverseButtons: true,
                                focusConfirm: false,
                                preConfirm: () => {
                                    let input_companion_values = [];
                                    for (let j = 0; j < companion_count; j++) {
                                        let v = document.getElementById(`inputs_companion${j+1}`).value;
                                        if (v !== "") {
                                            input_companion_values.push(v)
                                        }
                                    }
                                    return input_companion_values;
                                }
                            }).then(formValues => {
                                if (formValues.isConfirmed) {
                                    data['companion'] = formValues.value;
                                    console.log('Data', data)
                                    sendRsvp(data)
                                }
                            });
                        } else {
                            data['companion'] = undefined;
                            Swal.fire({
                                title: swalTitle,
                                text: swalText,
                                iconHtml: `<img src="/img/${icon}">`,
                                customClass: {
                                    icon: 'no-border'
                                },
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: swalConfirm,
                                reverseButtons: true
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    sendRsvp(data)
                                }
                            })
                        }
                    },
                    error: function(er) {
                        Swal.fire(
                            'Oh no!',
                            er.responseJSON.message,
                            'error'
                        )
                    }
                })
            } else {
                data['companion'] = undefined;
                Swal.fire({
                    title: swalTitle,
                    text: swalText,
                    iconHtml: `<img src="/img/${icon}">`,
                    customClass: {
                        icon: 'no-border'
                    },
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: swalConfirm,
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        sendRsvp(data)
                    }
                })
            }
        });

        function sendRsvp(data) {
            $.ajax({
                type: "POST",
                url: '/send-rsvp',
                data: data,
                success: function(res) {
                    Swal.fire(
                        'Success!',
                        res.message,
                        'success'
                    )
                },
                error: function(er) {
                    Swal.fire(
                        'Oh no!',
                        er.responseJSON.message,
                        'error'
                    )
                }
            }); 
        }
    </script>